.banner__item {
  padding: 1.5rem 0;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
}

.banner__item-huyndai {
  background: #004e8a;
}

.banner__item-kia {
  background: #bb162c;
}

@media (min-width: 768px) {
.banner__item {
    font-size: 2.5rem;
    padding: 2.5rem 0;
  }
}

@media (min-width: 992px) {
  .banner__item {
    font-size: 3.5rem;
  }
}
