.page-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav {
  font-weight: bold;
  font-size: 1.2rem;
}

.container-fluid {
  max-width: 992px;
}

.callback-btn {
  
}

@media (min-width: 768px) {
  .page-title {
    font-size: 3rem
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0.5rem;
  }
}
