.contacts {
  color: #fff;
  background: #343a40;
  font-size: 0.875rem;
}

.contacts__container {
  max-width: 480px;
  margin: auto;
}

.contacts__icon {
  font-size: 1.3rem;
}

.map {
  height: 250px;
}

@media (min-width: 768px) {
	.map {
		height: 460px;
	}
}