.features__item {
  display: flex;
  margin: 1rem 0;
}

.features__ico {
  width: 50px;
  flex-shrink: 0;
  font-size: 1.3rem;
  text-align: center;
  color: var(--secondary);
}

.features__title {
  font-size: 1.1rem;
}

@media (min-width: 768px) {
  .features {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    max-width: 900px;
  }

  .features__item {
    display: block;
    padding: 0 1rem;
  }

  .features__item:nth-child(1),
  .features__item:nth-child(2),
  .features__item:nth-child(3) {
    width: 33.33333%;
  }

  .features__item:nth-child(4),
  .features__item:nth-child(5) {
    width: 50%;
  }

  .features__ico {
    margin: 0 auto 0.5rem;
    font-size: 2rem;
  }

  .features__title {
    text-align: center;
    max-width: 350px;
    margin: auto;
    font-weight: bold;
  }
}
