.footer {
  background: var(--gray-dark);
  color: var(--light);
  padding: 2rem 0 3.5rem;
}

.footer .container-fluid {
  position: relative;
}

.footer__kia {
  display: none;
  position: absolute;
  top: -180px;
  right: 0px;
  width: 488px;
  height: 293px;
  background: url(../img/kia_optima.png) no-repeat;
}

.footer__icon {
  width: 35px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer {
    padding-bottom: 2rem;
  }
}

@media (min-width: 992px) {
  .footer {
    margin-top: 125px;
  }

  .footer__kia {
    display: block;
  }
}
